:root {

    --A0: hsl(259.44 100% 0%);
    --A0: oklab(0% 0.032149 -0.11212);
    --A10: hsl(259.44 100% 13.922%);
    --A10: oklab(20.103% 0.032149 -0.11212);
    --A20: hsl(262.68 100% 24.902%);
    --A20: oklab(30.152% 0.048219 -0.16816);
    --A30: hsl(263.74 100% 35.686%);
    --A30: oklab(39.287% 0.062827 -0.2191);
    --A40: hsl(264.35 100% 46.863%);
    --A40: oklab(48.145% 0.076994 -0.26851);
    --A50: rgb(116 75 255);
    --A50: oklab(56.884% 0.068878 -0.24021);
    --A60: rgb(157 149 0);
    --A60: oklab(65.56% -0.038534 0.13438);
    --A70: hsl(57.081 100% 36.275%);
    --A70: oklab(74.198% -0.043612 0.15209);
    --A80: hsl(56.93 100% 42.157%);
    --A80: oklab(82.813% -0.048675 0.16975);
    --A90: hsl(57.061 100% 48.039%);
    --A90: oklab(91.412% -0.05373 0.18738);
    --A100: hsl(57.061 100% 100%);
    --A100: oklab(100% -0.05373 0.18738);

    --P2: hsl(250 100% 2.3529%);
    --P2: oklab(7.7207% 0.012347 -0.043059);
    --P4: hsl(251.61 100% 6.0784%);
    --P4: oklab(12.006% 0.019199 -0.066956);
    --P6: hsl(255.65 100% 9.0196%);
    --P6: oklab(15.145% 0.02422 -0.084467);
    --P10: hsl(259.44 100% 13.922%);
    --P10: oklab(20.103% 0.032149 -0.11212);
    --P12: hsl(260.49 100% 16.078%);
    --P12: oklab(22.274% 0.03562 -0.12422);
    --P13: hsl(261.14 100% 17.255%);
    --P13: oklab(23.316% 0.037287 -0.13003);
    --P17: hsl(262.36 100% 21.569%);
    --P17: oklab(27.296% 0.043651 -0.15223);
    --P22: hsl(263.04 100% 27.059%);
    --P22: oklab(32.017% 0.051202 -0.17856);
    --P24: hsl(262.95 100% 29.216%);
    --P24: oklab(33.859% 0.054147 -0.18883);
    --P30: hsl(263.74 100% 35.686%);
    --P30: oklab(39.287% 0.062827 -0.2191);
    --P60: hsl(248.44 100% 73.529%);
    --P60: oklab(65.56% 0.053166 -0.18541);
    --P80: hsl(241.88 100% 87.451%);
    --P80: oklab(82.813% 0.024724 -0.086223);
    --P87: hsl(241.43 100% 91.765%);
    --P87: oklab(88.834% 0.01567 -0.054646);
    --P90: hsl(240 100% 93.725%);
    --P90: oklab(91.412% 0.011924 -0.041586);
    --P92: hsl(240 100% 95.098%);
    --P92: oklab(93.131% 0.0094717 -0.033032);
    --P94: hsl(240 100% 96.275%);
    --P94: oklab(94.849% 0.0070534 -0.024598);
    --P96: hsl(240 100% 97.451%);
    --P96: oklab(96.566% 0.0046691 -0.016283);
    --P98: hsl(240 100% 98.824%);
    --P98: oklab(98.283% 0.0023181 -0.0080843);
    --P100: hsl(240 100% 100%);
    --P100: oklab(100% 0.0023181 -0.0080843);

}