:root {
    --P0: oklab(0% 0.012347 -0.043059);
    --P4: oklab(12.006% 0.019199 -0.066956);
    --P6: oklab(15.145% 0.02422 -0.084467);
    --P10: oklab(20.103% 0.032149 -0.11212);
    --P12: oklab(22.274% 0.03562 -0.12422);
    --P17: oklab(27.296% 0.043651 -0.15223);
    --P20: oklab(30.152% 0.048219 -0.16816);
    --P22: oklab(32.017% 0.051202 -0.17856);
    --P24: oklab(33.859% 0.054147 -0.18883);
    --P30: oklab(39.287% 0.062827 -0.2191);
    --P40: oklab(48.145% 0.076994 -0.26851);
    --P50: oklab(56.884% 0.068878 -0.24021);
    --P60: oklab(65.56% 0.053166 -0.18541);
    --P70: oklab(74.198% 0.038457 -0.13412);
    --P80: oklab(82.813% 0.024724 -0.086223);
    --P87: oklab(88.834% 0.01567 -0.054646);
    --P90: oklab(91.412% 0.011924 -0.041586);
    --P92: oklab(93.131% 0.0094717 -0.033032);
    --P94: oklab(94.849% 0.0070534 -0.024598);
    --P95: oklab(95.707% 0.005857 -0.020426);
    --P96: oklab(96.566% 0.0046691 -0.016283);
    --P98: oklab(98.283% 0.0023181 -0.0080843);
    --P100: oklab(100% 0.0023181 -0.0080843);

    --A0: oklab(0% 0.012347 -0.043059);
    --A10: oklab(20.103% 0.032149 -0.11212);
    --A20: oklab(30.152% 0.048219 -0.16816);
    --A30: oklab(39.287% 0.062827 -0.2191);
    --A40: oklab(48.145% 0.076994 -0.26851);
    --A50: oklab(56.884% 0.068878 -0.24021);
    --A60: oklab(65.56% 0.053166 -0.18541);
    --A70: oklab(74.198% -0.043612 0.15209);
    --A80: oklab(82.813% -0.048675 0.16975);
    --A90: oklab(91.412% -0.05373 0.18738);
    --A100: oklab(100% -0.019105 0.066627);

    --E0: oklab(0% 0.023017 0.015525);
    --E10: oklab(20.103% 0.059933 0.040425);
    --E20: oklab(30.152% 0.089891 0.060632);
    --E30: oklab(39.287% 0.11712 0.079001);
    --E40: oklab(48.145% 0.14353 0.096815);
    --E50: oklab(56.884% 0.16959 0.11439);
    --E60: oklab(65.56% 0.19302 0.13019);
    --E70: oklab(74.198% 0.13163 0.088783);
    --E80: oklab(82.813% 0.080454 0.054267);
    --E90: oklab(91.412% 0.03718 0.025078);
    --E100: oklab(100% 0.0070201 0.0047351);
}