:root {
    --P0: hsl(253, 61%, 0%);
    --P10: hsl(253, 61%, 13%);
    --P20: hsl(252, 52%, 25%);
    --P30: hsl(252, 49%, 38%);
    --P40: hsl(252, 45%, 50%);
    --P50: hsl(250, 60%, 61%);
    --P60: hsl(247, 70%, 70%);
    --P70: hsl(244, 74%, 79%);
    --P80: hsl(243, 75%, 86%);
    --P90: hsl(240, 77%, 93%);
    --P100: hsl(240, 77%, 100%);

    --S0: hsl(57, 78%, 0%);
    --S10: hsl(57, 78%, 5%);
    --S20: hsl(57, 69%, 12%);
    --S30: hsl(57, 63%, 18%);
    --S40: hsl(58, 57%, 25%);
    --S50: hsl(57, 56%, 32%);
    --S60: hsl(57, 54%, 39%);
    --S70: hsl(58, 52%, 47%);
    --S80: hsl(58, 60%, 56%);
    --S90: hsl(58, 72%, 73%);
    --S100: hsl(58, 72%, 100%);

    --N0: hsl(253, 0%, 0%);
    --N4: hsl(253, 0%, 2%);
    --N6: hsl(253, 0%, 4%);
    --N10: hsl(253, 0%, 9%);
    --N12: hsl(253, 0%, 11%);
    --N17: hsl(252, 0%, 15%);
    --N20: hsl(252, 0%, 18%);
    --N22: hsl(252, 0%, 20%);
    --N24: hsl(252, 0%, 22%);
    --N30: hsl(252, 0%, 27%);
    --N40: hsl(252, 0%, 37%);
    --N50: hsl(250, 0%, 47%);
    --N60: hsl(247, 0%, 57%);
    --N70: hsl(244, 0%, 67%);
    --N80: hsl(243, 0%, 78%);
    --N87: hsl(241, 0%, 85%);
    --N90: hsl(240, 0%, 89%);
    --N92: hsl(240, 0%, 91%);
    --N94: hsl(240, 0%, 93%);
    --N96: hsl(240, 0%, 96%);
    --N98: hsl(240, 0%, 98%);
    --N100: hsl(240, 0%, 100%);

    --NV0: hsl(240, 8%, 0%);
    --NV10: hsl(240, 8%, 9%);
    --NV20: hsl(240, 8%, 19%);
    --NV30: hsl(240, 7%, 29%);
    --NV40: hsl(240, 6%, 39%);
    --NV50: hsl(244, 6%, 49%);
    --NV60: hsl(244, 7%, 59%);
    --NV70: hsl(240, 8%, 69%);
    --NV80: hsl(240, 9%, 79%);
    --NV90: hsl(240, 9%, 90%);
    --NV100: hsl(240, 9%, 100%);

    --E0: hsl(7, 91%, 0%);
    --E10: hsl(7, 91%, 9%);
    --E20: hsl(12, 89%, 18%);
    --E30: hsl(13, 84%, 26%);
    --E40: hsl(13, 79%, 36%);
    --E50: hsl(12, 75%, 45%);
    --E60: hsl(12, 86%, 56%);
    --E70: hsl(12, 94%, 70%);
    --E80: hsl(12, 96%, 81%);
    --E90: hsl(12, 96%, 91%);
    --E100: hsl(12, 69%, 100%);

    --W0: hsl(31, 94%, 0%);
    --W10: hsl(31, 94%, 7%);
    --W20: hsl(36, 94%, 13%);
    --W30: hsl(37, 90%, 20%);
    --W40: hsl(37, 87%, 27%);
    --W50: hsl(37, 85%, 34%);
    --W60: hsl(37, 81%, 42%);
    --W70: hsl(36, 80%, 52%);
    --W80: hsl(33, 96%, 68%);
    --W90: hsl(32, 97%, 85%);
    --W100: hsl(32, 97%, 100%);
    
    --OK0: hsl(120, 65%, 0%);
    --OK10: hsl(120, 65%, 7%);
    --OK20: hsl(117, 53%, 14%);
    --OK30: hsl(119, 47%, 22%);
    --OK40: hsl(118, 45%, 30%);
    --OK50: hsl(118, 44%, 38%);
    --OK60: hsl(118, 44%, 46%);
    --OK70: hsl(119, 54%, 54%);
    --OK80: hsl(119, 78%, 63%);
    --OK90: hsl(116, 96%, 81%);
    --OK100: hsl(116, 96%, 100%);
}