@font-face {
    font-family: "SocialIcons";
    src: url('fonts/social_media_circled-webfont.eot');
    src: url('fonts/social_media_circled-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/social_media_circled-webfont.woff2') format('woff2'),
         url('fonts/social_media_circled-webfont.woff') format('woff'),
         url('fonts/social_media_circled-webfont.ttf') format('truetype'),
         url('fonts/social_media_circled-webfont.svg#social_media_circledregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
