div{
  margin: 0px;
}

#random {
  margin-left: 8px;
}

#random > a {
  color: #00ffff;
}

#random > a:visited {
  color: #00ffff;
}

#title {
  margin-left: 4px;
  margin-right: 4px;
  color: #00ffff;
}

#title_eyes {
  text-shadow: 0px 0px 4px #00ffff;
}

a {
  text-decoration: none;
}

#body {
  width: 61.8%;
  margin-left: auto;
  margin-right: auto;
}

div.post_tetraimg {
  width: 61.8%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.tetra-tl{
  position: relative;
  width: 49%;
  top: 0px;
  left: 0px;
}

img.tetra-tr{
  position: relative;
  width: 49%;
  top: 0px;
  right: 0px;
}

img.tetra-bl{
  position: relative;
  width: 49%;
  bottom: 0px;
  left: 0px;
}

img.tetra-br{
  position: relative;
  width: 49%;
  bottom: 0px;
  right: 0px;
}


p.img_sub {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  color: #646464;
  font-size: 10pt;
}

.gp_button > img{
  height: 64px;
}

#popup-img{
  position: fixed;
  background-color: rgba(0, 0, 0, .61);
  left: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#popup-img > img {
  display: block;
  width: 61.8%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}

div.card > p{
  margin-left: 8px;
}

img.icon {
  display: inline-block;
  margin: 8px;
  width: 40px;
}

@media (max-width: 800px){

  #body{
    width: calc(100% - 32px);
  }

  #random, #try_neutrino {
    display: none;
  }

  div.card > img{
    width: calc(100% - 32px);
  }

  div.post_tetraimg{
    width: calc(100% - 32px);
  }

  #popup-img > img{
    width: calc(100% - 32px);
  }

}
