::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.16);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.16);
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.16);
}

::-webkit-scrollbar-thumb {
  border-radius: 90px;
  background-color: #00ffff;
  box-shadow: 0 0 6px #00ffff;
}

::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.16);
}
