* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #000000;
}

h1, h2, h3, p {
  color: #00ffff;
  font-family: Helvetica;
}

div.header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 64px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), #000000);
  background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0), #000000);
  background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0), #000000);
  background: -o-linear-gradient(90deg, rgba(0, 0, 0, 0), #000000);
  z-index: 3;
}

div.header > h2 {
  text-align: center;
  vertical-align: center;
  margin-top: 10px;
}

img.navi {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-left: 16px;
  margin-top: 8px;
  border-radius: 90px;
  width: 48px;
  height: 48px;
}

div.settings {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0px;
  right: 0px;
  margin: 8px;
  border-radius: 8px;
  padding: 4px;
  transition: margin-right .16s linear 0s;
}

div.settings > div {
  margin: 4px;
  width: 64%;
  height: 4px;
  background-color: #00ffff;
  border-radius: 35px;
}

div.settings > div.list{
  position: fixed;
  width: 0px;
  height: 100%;
  top: 0px;
  right: 0px;
  border-radius: 0px;
  transition: width .25s linear 0s, background-color .25s linear 0s;
  padding: 8px;
  overflow: scroll;
  background-color: rgba(0, 255, 255, 0);
}

div.settings:hover {
  margin-right: 40.2%
}

div.settings:hover > div.list {
  width: 38.2%;
  background-color: rgba(0, 255, 255, .64);
  box-shadow: 0px 0px 16px rgba(0, 255, 255, 0.64);
  display: block;
}

div.list > ul > li {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  transition: background-color .25s linear 0s;
  border-radius: 3px;
  padding: 4px;
}

div.list > ul > li:hover {
  background-color: #00ffff;
}

div.list > ul > li > p {
  color: #000000;
  float: left;
}

div.list > ul > li > .option {
  margin: 4px;
  float: right;
}

#loader {
  position: fixed;
  top: 0px;
  left: 0px;
  margin-top: 64px;
  width: 128px;
  height: 128px;
  border-radius: 90px;
  background: url(img/loader.png);
  transition: opacity 0.25s linear 0s;
  animation: loaderAni 1s steps(36) infinite;
  -webkit-animation: loaderAni .8s steps(36) infinite;
  z-index: 20;
}

@keyframes loaderAni{
  from{
    background-position: 0px;
  }
  to{
    background-position: -4608px;
  }
}
@-webkit-keyframes loaderAni{
  from{
    background-position: 0px;
  }
  to{
    background-position: -4608px;
  }
}

div.chat-list {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-top: 64px;
  background-color: #000000;
}

div.chat {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 64px;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0), #000000);
  background: -moz-linear-gradient(270deg, rgba(0, 0, 0, 0), #000000);
  background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0), #000000);
  background: -o-linear-gradient(270deg, rgba(0, 0, 0, 0), #000000);
}

div.navi {
  position: relative;
  margin: 8px;
  margin-right: 64px;
  border-radius: 35px;
  padding: 16px;
}

div.user {
  position: relative;
  margin: 8px;
  margin-left: 64px;
  border-radius: 35px;
  padding: 16px;
}

div.user > p {
  color: #ffffff;
  text-align: right;
}

div.navi > p {
  color: #00ffff;
  text-align: left;
}

div#input {
  width: 1px;
  height: 64px;
}

#message {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: calc(100% - 104px);
  height: 48px;
  margin: 8px;
  font-family: Helvetica;
  border-radius: 32px;
  font-size: 16pt;
  box-shadow: 0px 0px 8px #000000;
  padding-left: 16px;
  padding-right: 16px;
}

#submit {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 8px;
  width: 48px;
  height: 48px;
  background: url(img/send.png) no-repeat;
  border: none;
}
