* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #dadada;
}

h1, h2, h3, p {
  color: #00ffff;
  font-family: Helvetica;
}

a {
  text-decoration: none;
  font-family: Helvetica;
}

div.header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 64px;
  background: #252525;
  box-shadow: 0px 0px 6px #000;
  z-index: 3;
}

div.header > h2 {
  text-align: center;
  vertical-align: center;
  margin-top: 16px;
}

img.neutrino {
  margin-top: 8px;
  border-radius: 90px;
  width: 48px;
  height: 48px;
}

div.settings {
  position: fixed;
  width: 6px;
  height: 48px;
  top: 0px;
  left: 0px;
  margin: 8px;
  border-radius: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 16px;
  padding-right: 32px;
  transition: margin-left 0.1s linear 0s;
}

div.settings > div {
  margin: 6px;
  height: 6px;
  width: 6px;
  background-color: #00ffff;
  border-radius: 35px;
}

div.settings > div.list{
  position: fixed;
  width: 0px;
  height: 100%;
  top: 0px;
  left: 0px;
  margin: 0px;
  border-radius: 0px;
  transition: width .1s linear 0s, background-color .1s linear 0s;
  overflow: hidden;
  background-color: rgba(0, 255, 255, 0);
}

div.list > ul {
  padding: 0px;
}

div.list > ul > li {
  transition: background-color .25s linear 0s;
  padding: 8px;
  margin: 0px;
}

div.list > ul > li > a{
  width: 100%;
}

div.list > ul > li:hover {
  background-color: #64ffff;
}

div.list > ul > li > p, div.list > ul > li > a {
  color: #000000;
  text-shadow: 0px 0px 8px #00ffff;
  float: left;
}

div.list > ul > li > .option {
  float: right;
}

#customtts {
  width: calc(100% - 80px);
  margin-left: 8px;
  padding-left 8px;
}

select {
  background-color: #252525;
  color: #00ffff;
  font-family: Helvetica;
  border: none;
  padding: 2px;
}

input[type="checkbox"]{
  display: none;
}

label:before {
  content: "";
  display: inline-block;
  float: right;
  width: 20px;
  height: 20px;
  right: 0px;
  padding: 0px;
  background-color: #252525;
}

input[type="checkbox"]:checked + label:before{
  content: "\2713";
  color: #00ffff;
  padding: 0px;
  text-align: center;
  font-size: 10pt;
}

#loader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 64px;
  height: 64px;
  margin-left: calc(50% - 32px);
  margin-top: 72px;
  border-radius: 32px;
  background: url(img/loader.png);
  background-color: #252525;
  box-shadow: 0px 3px 3px #646464;
  transition: opacity 0.25s linear 0s;
  animation: loaderAni 1s steps(36) infinite;
  z-index: 20;
}

@keyframes loaderAni{
  from{
    background-position: 0px;
  }
  to{
    background-position: -2304px;
  }
}

div.chat-list {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-top: 64px;
}

div.chat {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 64px;
}

div.card {
  position: relative;
  margin: 14px;
  padding: 6px;
  background: #fff;
  box-shadow: 0px 0px 8px #646464;
  animation-name: summon;
  animation-duration: 0.1s;
  animation-timing-function: ease-in;
  overflow: hidden;
  transition: box-shadow 0.1s linear 0s;
}

div.card:active {
  box-shadow: 0px 0px 2px #252525;
}

@keyframes summon {
  from{
    opacity: 0;
  } to {
    opacity: 1;
  }
}

div.card > p {
  color: #252525;
  text-align: center;
}

div#input {
  width: 1px;
  height: 64px;
}

#message{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: calc(100% - 68px);
  height: 48px;
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 4px;
  font-size: 16pt;
}

input[type=text] {
  background-color: #252525;
  border: none;
  color: #00ffff;
  resize: none;
  font-family: Helvetica;
  font-size: 12pt;
}

input[type=text]::-webkit-input-placeholder {
   color: #00dada;
}

:input[type=text]:-moz-placeholder {
   color: #00dada;
}

:input[type=text]-ms-input-placeholder {  
   color: #00dada;
}

#submit {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 48px;
  height: 48px;
  background: url(img/send.png) no-repeat;
  background-color: #252525;
  border: none;
}
